body {
    margin: 0;
    padding: 0;
}

.login_header {
    background-color: rgb(71, 71, 252);
    font-size: 90px;
    text-align: center;
    align-items: center;
    padding: 10px;
}

.back-btn {
    position: absolute;
    background: none;
    border: none;
    left: 10px;
}

.back-btn img {
    height: 50px;
}

.logoback_header {
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
    justify-content: center;
    background-color: blue;
    background-color: rgb(71, 71, 252);
    font-size: 90px;
    padding: 10px;
}

.err_msg {
    color: red;
}

/*ログイン*/
.login_main {
    display: flex;
    justify-content: center;
}

.login_container {
    width: 30%;
}

.login_h1 {
    text-align: center;
}

.login_form {
    text-align: center;
}

.login_text {
    width: 100%;
    height: 35px;
    background-color: #dad9d9;
    border-color: #dad9d9;
    margin-bottom: 20px;
}

.manager_btn {
    width: 80%;
    height: 35px;
    margin-top: 10px;
    background-color: rgb(71, 71, 252);
    border-color: rgb(71, 71, 252);
    color: white;
    margin-bottom: 20px;
}

/*新規登録*/

.signup_main {
    display: flex;
    justify-content: center;
}

.signup_container {
    width: 30%;
}

.signup_text {
    width: 100%;
    height: 35px;
    background-color: #dad9d9;
    border-color: #dad9d9;
    margin-bottom: 20px;
}

.manager_btn_area {
    text-align: center;
}

.signup_form {
    display: flex;
    justify-content: center;
}

/*ホーム*/

.home_header {
    background-color: rgb(71, 71, 252);;
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
    justify-content: center;
}

.logout_container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.home_h1 {
    margin: 0;
}

.logout_form {
    display: flex;
    width: 40%;
}

.logout_btn {
    width: 100%;
    height: 40px;
    background-color: #ff8181;
    border: none;
    color: black;
    border-radius: 15px;
}

.home_main {
    display: flex;
    justify-content: center;
}

.home_container {
    margin-top: 10%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.home_btn_area {
    display: flex;
    width: 33%;
    align-items: center;
    margin-bottom: 20px;
}

.home_form {
    width: 95%;
}

.home_button {
    width: 100%;
    height: 50px;
    font-size: larger;
}

.gameadd_main {
    display: flex;
    justify-content: center;
}

.gameadd_container {
    width: 30%;
}

.game_list {
    width: 50%;
    height: 35px;
    background-color: #dad9d9;
    border-color: #dad9d9;
    text-align: start;
    margin-bottom: 20px;
}

.game_icon {
    margin-bottom: 10px;
}

.game_summary {
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
}

.add_btn_area {
    text-align: center;
}

.add_button {
    width: 200px;
    height: 40px;
    background-color: rgb(71, 71, 252);
    border-color: rgb(71, 71, 252);
    color: white;
    border-radius: 15px;
    margin-bottom: 10px;
}

.complete_main {
    display: flex;
    justify-content: center;
    text-align: center;
}

.complete_container {
    width: 70%;
}

.complete_btn_area {
    display: flex;
    justify-content: space-between;
    margin-top: 20%;
}

.complete_form {
    width: 100%;
}

/*ゲーム更新選択画面*/

.game_choose_main {
    display: flex;
    justify-content: center;
}

.tablesorter {
    margin-top: 30px;
    width: 1000px;
    border-collapse: collapse;
}

/*ゲーム更新*/

.game_img {
    width: 100px;
}

.game_sample {
    width: 200px;
}

/*ゲーム補充*/

.add_btn {
    background-color: rgb(255, 141, 141);
    border: none;
    border-radius: 10px;
}

/*在庫補充*/
.gamestock_container {
    width: 30%;
}

.game_stock_container {
    display: flex;
    justify-content: center;
}

.game_stock_icon {
    width: 200px;
}

.game_stock_btn {
    text-align: center;
}

.userpr_container {
    width: 1000px;
}

/*PR承認画面*/
.pr_clip {
    width: 400px;
}

.prcheck_video {
    width: 400px;
}

.approval_btn_area {
    display: flex;
    justify-content: space-between;
}

.approval_form {
    width: 30%;
}

.disagree_btn {
    background-color: #ff8181;
    border: none;
    width: 100%;
    height: 30px;
}

.agree_btn {
    background-color: #00c3ff;
    border: none;
    width: 100%;
    height: 30px;
}

/*ユーザー削除*/

/*売上*/

.price {
    display: flex;
    justify-content: center;
}

.salestable {
    width: 1300px;
}

/*ユーザー一覧*/

.alluser_main {
    display: flex;
    justify-content: center;
}

.alluser_container {
    width: 500px;
}

.usertable {
    width: 100%;
    border-collapse: collapse;
}

/*商品一覧*/

.allgame_main {
    display: flex;
    justify-content: center;
}